.CardNews {
    width:470px;
    height:150px;
    margin-bottom:1em;
    display:flex;
    flex-direction:row;
    border: none;
    position:relative;
    text-align:left;
}
.ContainerInfo{
    height:150px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.cardBody {
    padding: 0;
}
.imgStyles {
    width:200px;
    height:100%;
    object-fit:cover;
    border-radius: 30px;
}
