.CardNews {
    width:470px;
    height:150px;
    margin-bottom:1em;
    display:flex;
    flex-direction:row;
    border: none;
    position:relative;
    text-align:left;
}
.ContainerInfo{
    height:150px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.cardBody {
    padding: 0;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    overflow: hidden;
    max-width: 260px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    text-overflow: ellipsis;
    font-weight: bold;
}
.imgStyles {
    width:200px;
    height:100%;
    object-fit:cover;
    border-radius: 30px;
}
