.FooterMainCardHeader {
    width: 92%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding-bottom: 10px;
    align-items: center;
}

.LogoAndTime {
    display: grid;
    width: 220px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}