.mainCard {
    display:grid;
    grid-template-rows:1fr 1fr;
    min-width: 498px;
    text-align: left;
    /*padding: 0.5em;*/
    height: 500px;
    border:none;
    transition: transform 0.3s ease;
    cursor: pointer;

}

.mainCard:hover {
    transform: scale(1.03);

}

.cardBody {
    padding: 0;
}
.cardTitle {
    padding: 0;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    overflow: hidden;
    max-width: 500px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    text-overflow: ellipsis;
    font-weight: bold;
}
.Img {
    height: 300px;
    border-radius:30px;
    
}