.Logo {}

.LogoStyle {
    width: 40px;
    height: 40px;
}
.Container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90px;
    align-items:center;
    /*font-weight:bold;
    font-size:x-small;*/
}