.FooterCardNews {
    width: 55%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    font-weight: bold;
    font-size: x-small;
}

.LogoAndTime {
    display: flex;
    flex-direction: row;
    align-items: center;
}


